{% extends 'user/base.html' %}

{% block content %}
<div class='container pt-3'>
  <div class="row">
    <div class="col-6">
      <image class='product-detail-image' src="/{{product.image}}">
    </div>

    <div class="col-6 mt-5">
      <div class='product-detail-title'>{{product.name}}</div>
      <br>
      <table class="table">
        <tr>
          <td>Hãng sản xuất:</td>
          <td>{{product.manufacturer.name}}</td>
        </tr>
        <tr>
          <td>CPU:</td>
          <td>{{product.cpu}}</td>
        </tr>
        <tr>
          <td>Kích thước RAM:</td>
          <td>{{product.ramSize|floatformat}}GB</td>
        </tr>
        <tr>
          <td>Kích thước ổ cứng:</td>
          <td>{{product.diskSize|floatformat}}GB {{product.diskType.name}}</td>
        </tr>
        <tr>
          <td>Kích thước màn hình:</td>
          <td>{{product.screenSize|floatformat}} inch</td>
        </tr>
        <tr>
          <td>Khối lượng:</td>
          <td>{{product.weight|floatformat}} kg</td>
        </tr>
        <tr>
          <td>Giá bán:</td>
          <td><b>{{product.price}} ₫</b></td>
        </tr>
      </table>
      <br>
      <a class="btn btn-secondary" href="{% url 'home' %}">Quay lại</a>
      <a class="btn btn-primary" href="{% url 'purchase' product.id %}">Mua hàng</a>
    </div>
  </div>
</div>
{% endblock %}